<div class="container">
  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
    <fieldset>
      <h2>Login Form</h2>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          [class]="setEmailClass(email)"
          type="email"
          name="email"
          id="email"
          placeholder="john.doe@gmail.com"
          ngModel
          #email="ngModel"
          required
          [appEmail]="domains"
        />
      </p>
      @if (email?.touched) {
      <div>
        @if (email?.errors?.['required']) {
        <p class="error">Email is required!</p>
        }
        <!--    -->
        @if (email?.errors?.['emailValidator']) {
        <p class="error">Email is not valid!</p>
        }
      </div>
      }

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          [class]="setPasswordClass(password)"
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #password="ngModel"
          required
          minlength="5"
        />
      </p>
      @if (password?.touched) {
      <div>
        @if (password?.errors?.['required']) {
        <p class="error">Password is required!</p>
        }
        <!--    -->
        @if (password?.errors?.['minlength']) {
        <p class="error">Password must be at least 5 characters!</p>
        }
      </div>
      }

      <button
        [disabled]="form.invalid"
        [style]="{ backgroundColor: form.invalid ? 'grey' : '#234465' }"
      >
        Login
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
