<div class="container">
    <div class="profile"><img src="profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{currentUser.firstName}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{currentUser.email}}</p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>{{currentUser.phoneNumber}}</p>
        </div>
        <button class="edit-button" (click)="editProfile($event)">Edit</button>
    </div>
</div>
