<div class="container">
    <div class="profile"><img src="profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: {{currentUser.firstName}}</p>
            <!-- <p>{{currentUser.firstName}}</p> -->
        </div>
        <div class="flex">
            <p>Email: {{currentUser.email}}</p>
            <!-- <p>{{currentUser.email}}</p> -->
        </div>
        <div class="flex">
            <p>Phone: {{currentUser.phoneNumber}}</p>
            <!-- <p>{{currentUser.phoneNumber}}</p> -->
        </div>
        <button class="edit-button" (click)="editProfile($event)">Edit</button>
    </div>
</div>
